html,
body {
    display: block;
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 600px;
    font-family: sans-serif;
    font-size: 12px;
}

h1 {
    margin: 0;
    font-size: 1.728em;
    font-weight: 300;
}

h3 {
    font-size: 1.2em;
    margin: 0;
    font-weight: 400;
}

.section-title {
    background-color: #2196F3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {    
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#simulator-container {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100% - 33px);
    flex-direction: row-reverse;
}

#plot-results {
    width: 70%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #212121;
}

#computed-results {
    position: relative;
    width: 30%;
    overflow: scroll;
    font-family: sans-serif;
    font-size: 12px;
    padding: 4px;
    background: whitesmoke;
}

#computed-results h3 {
    padding: 4px 2px;
}

#computed-results section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-bottom: 12px;
}

/*#computed-results section entry:nth-child(even) {
    
    border-top: 1px solid #B6B6B6;
}*/

#content {
    position: relative;
    width: 100%;
    height: 100%;
}

#computed-results section entry {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    border-bottom: 1px solid #B6B6B6;
    font-size: 1.2em;
    padding: 2px 4px;
}

#computed-results section entry:last-of-type {
    border-bottom: none;
}

#computed-results section entry:hover {
    background: #B6B6B6;
    color: white;
}

#computed-results section entry label:first-child {
    width:20%;
    text-align: left;
}

#computed-results section entry label:nth-child(2) {
    width:40%;
    text-align: center;
}

#computed-results section entry label:nth-child(3) {
    width:30%;
    text-align: left;
}

#customize label:first-child {
    width:50%!important;
}

#customize label:nth-child(2) {
    width:30%!important;
}

#customize label:nth-child(3) {
    width:20%!important;
}

#buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonsContainer button {
    padding: 6px;
    width: 30%;
    cursor: pointer;
    margin: 4px;
    max-width: 100px;
    background: #2196F3;
    color: white;
    outline:none;
}

#buttonsContainer button:hover {
    background: #1976D2;
}